body
{
    color: #555;
}

#headerWrapper
{
    background: #958770;
}

#headerWrapper a
{
    color: #444;
}

#headerWrapper a .environment
{
    color: rgba(0, 0, 0, 0.4);
}

h1,
h2,
h3,
h4
{
    color: #9d9ab5;
}

span.handle
{
    color: #bbb;
}

.order.panels .panel .number
{
    background-color: #545167;
}
